[
  {kernel, [
    {logger_level, info},
    {error_logger, tty},
    {logger, [
      {handler, default, logger_std_h, #{
        formatter => {logger_formatter, #{single_line => true, template=> [time, " ", pid, " ", gl, " ", level, ": ", msg, "\n"]}},
        config => #{file => "log/default.log"}
      }}
    ]}
  ]},
  {loggerx, [
    {logger, [
      {handler, foo, loggerx_file_h, #{
        config => #{type => by_interval, file => "log/interval.log", rotate_interval => 30000, max_no_files  => 10}
      }}
    ]}
  ]}
].