[
  {kernel, [
    {logger_level, info},
    {error_logger, tty},
    {logger, [
      {handler, default, logger_std_h, #{
        formatter => {logger_formatter, #{single_line => true, template=> [time, " ", pid, " ", gl, " ", level, ": ", msg, "\n"]}},
        config => #{file => "log/default.log"}
      }}
    ]}
  ]},
  {loggerx,[
    {logger,[
      {handler, stat, loggerx_stat_h, #{
        config => #{stat_interval=>60000,stat_limit=>#{error => 10}}
      }}
    ]}
  ]}
].